<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.oobium.eclipse.designer.editor.Designer"
            contributorClass="org.oobium.eclipse.designer.editor.DesignerActionBarContributor"
            default="false"
            extensions="models"
            id="org.oobium.eclipse.models.editor.ModelsEditor"
            name="Models">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.oobium.newWizards"
            class="org.oobium.eclipse.designer.DesignerCreationWizard"
            id="org.oobium.eclipse.designer.DesignerCreationWizard"
            name="Model Designer">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.oobium.eclipse.designer.commands.OpenDesignerCommand"
            id="org.oobium.eclipse.designer.commands.OpenDesignerCommand"
            name="Open Model Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.oobium.eclipse.designer.commands.OpenDesignerCommand"
               icon="icons/sitemap.png"
               label="Open Model Editor"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
