<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.oobium.eclipse.designer.editor.Designer"
            contributorClass="org.oobium.eclipse.designer.editor.DesignerActionBarContributor"
            default="false"
            extensions="models"
            icon="icons/sitemap.png"
            id="org.oobium.eclipse.models.editor.ModelsEditor"
            name="Models">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.oobium.newWizards"
            class="org.oobium.eclipse.designer.DesignerCreationWizard"
            finalPerspective="org.oobium.eclipse.designer.perspectives.OobiumPerspectiveFactory"
            id="org.oobium.eclipse.designer.DesignerCreationWizard"
            name="Model Designer"
            preferredPerspectives="org.oobium.eclipse.designer.perspectives.OobiumPerspectiveFactory">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <primaryWizard
            id="org.oobium.eclipse.designer.wizards.project.NewBackendServiceWizard">
      </primaryWizard>
      <wizard
            canFinishEarly="true"
            category="org.oobium.builder"
            class="org.oobium.eclipse.designer.wizards.project.NewBackendServiceWizard"
            hasPages="true"
            icon="icons/oobium.png"
            id="org.oobium.eclipse.designer.wizards.project.NewBackendServiceWizard"
            name="Oobium Backend Service"
            project="true">
         <description>
            Create a new backend service for an existing project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.oobium.eclipse.designer.handlers.OpenDesignerHandler"
            id="org.oobium.eclipse.designer.handlers.OpenDesignerHandler"
            name="Open Model Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.oobium.eclipse"
            class="org.oobium.eclipse.designer.views.data.DataView"
            icon="icons/database_gear.png"
            id="org.oobium.eclipse.designer.data.DataView"
            name="Data"
            restorable="true">
      </view>
      <view
            category="org.oobium.eclipse"
            class="org.oobium.eclipse.designer.views.monitor.MonitorView"
            icon="icons/application-monitor.png"
            id="org.oobium.eclipse.designer.monitor.MonitorView"
            name="Monitor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.oobium.eclipse.designer.perspectives.OobiumPerspectiveFactory"
            icon="icons/oobium.png"
            id="org.oobium.eclipse.designer.perspectives.OobiumPerspectiveFactory"
            name="Oobium">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="org.oobium.eclipse.designer.perspectives.OobiumPerspectiveFactory">
         </perspectiveShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.designer.wizards.project.NewBackendServiceWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.oobium.eclipse.designer.perspectives.OobiumPerspectiveFactory">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
