<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.oobium.eclipse.OobiumNature"
         name="Oobium Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.oobium.eclipse.OobiumNature">
         </run>
      </runtime>
      <builder
        	id="org.oobium.eclipse.workspace.OobiumBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="org.oobium.eclipse.workspace.OobiumBuilder"
         name="Oobium Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.oobium.eclipse.workspace.OobiumBuilder">
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.oobium.builder"
            name="Oobium">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.project.NewProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            hasPages="true"
            icon="icons/oobium.png"
            id="org.oobium.eclipse.wizards.project.NewProjectWizard"
            name="Oobium Project"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="true">
         <description>
            Create a new Oobium Project
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.migration.NewMigrationWizard"
            hasPages="true"
            icon="icons/database_go.png"
            id="org.oobium.eclipse.wizards.migration.NewMigrationWizard"
            name="Migration"
            project="true">
         <description>
            Create a new Migration project
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.testsuite.NewTestSuiteWizard"
            hasPages="true"
            id="org.oobium.eclipse.wizards.testsuite.NewTestSuiteWizard"
            name="Test Suite"
            project="true">
         <description>
            Create a new Test Suite project
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.model.NewModelWizard"
            hasPages="true"
            icon="icons/model.gif"
            id="org.oobium.eclipse.wizards.model.NewModelWizard"
            name="Model"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
         <description>
            Create a new model and, optionally, all of its dependencies.
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.view.NewViewWizard"
            hasPages="true"
            icon="icons/view.gif"
            id="org.oobium.eclipse.wizards.view.NewViewWizard"
            name="View"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
         <description>
            Create a new web page and, optionally, all of its dependencies.
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.controller.NewControllerWizard"
            hasPages="true"
            icon="icons/controller.gif"
            id="org.oobium.eclipse.wizards.controller.NewControllerWizard"
            name="Controller"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
         <description>
            Create a new controller and, optionally, all of its dependencies.
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.mailer.NewMailerWizard"
            hasPages="true"
            icon="icons/email.png"
            id="org.oobium.eclipse.wizards.mailer.NewMailerWizard"
            name="Mailer"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
         <description>
            Create a new model and, optionally, all of its dependencies.
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.actioncache.NewActionCacheWizard"
            hasPages="true"
            icon="icons/java_line.gif"
            id="org.oobium.eclipse.wizards.actioncache.NewActionCacheWizard"
            name="ActionCache"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
         <description>
            Create a new model and, optionally, all of its dependencies.
         </description>
      </wizard>
      <wizard
            category="org.oobium.builder"
            class="org.oobium.eclipse.wizards.observer.NewObserverWizard"
            hasPages="true"
            icon="icons/java_line.gif"
            id="org.oobium.eclipse.wizards.observer.NewObserverWizard"
            name="Observer"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
         <description>
            Create a new model and, optionally, all of its dependencies.
         </description>
      </wizard>
      <primaryWizard
            id="org.oobium.eclipse.wizards.project.NewProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Oobium commands"
            id="org.oobium.builder.ui.category1"
            name="Oobium">
      </category>
      <command
            categoryId="org.oobium.builder.ui.category1"
            defaultHandler="org.oobium.eclipse.handlers.MigrateHandler"
            description="Migrate the database using the current schema"
            id="org.oobium.builder.ui.commands.migrate"
            name="Migrate">
      </command>
      <command
            categoryId="org.oobium.builder.ui.category1"
            defaultHandler="org.oobium.eclipse.handlers.RunHandler"
            description="Run the selected application in an Oobium server"
            id="org.oobium.builder.ui.commands.run"
            name="Oobium Server">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               label="Oobium">
            <command
                  commandId="org.oobium.builder.ui.commands.run"
                  icon="icons/start.gif"
                  label="Start Server"
                  style="push">
               <visibleWhen>
		            <with
		                 variable="activeMenuSelection">
		              <iterate
		                    ifEmpty="false">
		                 <adapt
		                       type="org.eclipse.core.resources.IProject">
		                    <test property="org.eclipse.core.resources.projectNature"
		                    	value="org.oobium.eclipse.OobiumApplication"/>
		                 </adapt>
		              </iterate>
		              <count
		                    value="1">
		              </count>
		            </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.oobium.builder.ui.commands.migrate"
                  icon="icons/database_go.png"
                  label="Run Migration"
                  style="push">
               <visibleWhen>
	            <with
	                 variable="activeMenuSelection">
	              <iterate
	                    ifEmpty="false">
	                 <adapt
	                       type="org.eclipse.core.resources.IProject">
	                    <or>
		                    <test property="org.eclipse.core.resources.projectNature"
		                    	value="org.oobium.eclipse.OobiumApplication"/>
		                    <test property="org.eclipse.core.resources.projectNature"
		                    	value="org.oobium.eclipse.OobiumModule"/>
		                    <test property="org.eclipse.core.resources.projectNature"
		                    	value="org.oobium.eclipse.OobiumMigration"/>
		                </or>
	                 </adapt>
	              </iterate>
	              <count
	                    value="1">
	              </count>
	            </with>
               </visibleWhen>
            </command>
            <visibleWhen>
	            <with
	                 variable="activeMenuSelection">
	              <iterate
	                    ifEmpty="false">
	                 <adapt
	                       type="org.eclipse.core.resources.IProject">
	                    <test property="org.eclipse.core.resources.projectNature"
	                    	value="org.oobium.eclipse.OobiumNature"/>
	                 </adapt>
	              </iterate>
	              <count
	                    value="1">
	              </count>
	            </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.oobium.eclipse"
            name="Oobium">
      </category>
      <view
            allowMultiple="true"
            category="org.oobium.eclipse"
            class="org.oobium.eclipse.views.developer.ConsoleView"
            icon="icons/oobium.png"
            id="org.oobium.eclipse.views.developer.ConsoleView"
            name="Oobium"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.oobium.eclipse"
            class="org.oobium.eclipse.views.server.ServerView"
            icon="icons/server.png"
            id="org.oobium.eclipse.views.server.ServerView"
            name="Server"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               closeable="true"
               id="org.oobium.eclipse.views.developer.ConsoleView"
               moveable="true"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.oobium.eclipse.views.server.ServerView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               standalone="false"
               visible="false">
         </view>
         <viewShortcut
               id="org.oobium.eclipse.views.developer.ConsoleView">
         </viewShortcut>
         <viewShortcut
               id="org.oobium.eclipse.views.server.ServerView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="true"
               id="org.oobium.eclipse.views.developer.ConsoleView"
               moveable="true"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.oobium.eclipse.views.server.ServerView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               standalone="false"
               visible="false">
         </view>
         <viewShortcut
               id="org.oobium.eclipse.views.developer.ConsoleView">
         </viewShortcut>
         <viewShortcut
               id="org.oobium.eclipse.views.server.ServerView">
         </viewShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.wizards.project.NewProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.wizards.model.NewModelWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.wizards.view.NewViewWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.wizards.controller.NewControllerWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.wizards.mailer.NewMailerWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.wizards.actioncache.NewActionCacheWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.oobium.eclipse.wizards.observer.NewObserverWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
